


<app-menu></app-menu>

<router-outlet></router-outlet>

<!--
<div class="text-layout">
  Aplicacion {{title}}
</div>
<br>

<button pButton type="button" label="Manzana" class="p-button-help" icon="pi pi-apple" iconPos="right"></button>
<br>
<br>

<div style="width: 15%;">

  <p-card [header]="title | titlecase" 
          subheader="Esto es un subtitulo">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia perferendis, numquam alias et laudantium, quos officiis dicta vel eligendi rerum rem enim ratione quaerat minus minima exercitationem quam unde. Dolore!
  </p-card>

</div>
-->